* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: rgb(24, 26, 35);
}

h1 {
  font-size: 3rem;
  color: skyblue;
}
.tic {
  color: #eba0ba;
}

.toe {
  color: #8adea0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  margin-top: 5vh;
}

.messageOnTop {
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  height: 30px;
}

.cellGrid {
  width: 300px;
  height: 300px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
  margin-bottom: 20px;
}

.cell {
  background-color: rgba(135, 206, 235, 0.9);
  font-size: 4rem;
  font-weight: 600;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: transform 0.2s ease-in-out;
}

.cell:hover {
  background-color: #cbcbcb;
  cursor: pointer;
}

.cell:active {
  transform: scale(1.05);
}

.resetBtn {
  font-size: 1.8rem;
  font-weight: 600;
  width: 150px;
  height: 50px;
  border-radius: 15px;
  background-color: #ee9048;
  transition: transform 0.1s ease-in-out;
  text-align: center;
}

button:hover {
  background-color: skyblue;
  cursor: pointer;
}

button:active {
  transform: scale(1.05);
}
